.Choices {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

.Choice {
    padding: 1rem 0;
    padding-right: 5rem;
    flex-grow: 1;
    width: 100%;
    text-align: center;

    hr {
        margin: 0;
    }

    &__label {
        position: relative;
        display: block;
        font-size: 2rem;
        color: $color-light-grey;
    }

    &__checkbox {
        position: relative;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        
        & + label::after {
            content: "";
            position: absolute;
            display: block;
            width: 4rem;
            height: 4rem;
            top: 50%;
            right: -7rem;
            transform: translateY(-50%);
            border: solid 2px $color-blue;
            background: $color-light-blue;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 50%;
        }

        &:checked + label::after {
            transition: all .2s;
            background-size: 80%;
            background-image: url(../media/images/checked.svg);
        }
    }
}