.Droppable__option {
    max-width: 70vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.Droppable__text {
    display: block;
    max-width: 75%;
    padding-left: 2rem;
    font-size: 1.2rem;
    color: $color-light-grey;
}

.Droppable {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    background: $color-light-blue;
    border-radius: 3rem;
}

.Droppable__areas .Droppable {
    display: block;
    width: 300px;
    height: 100px;
    margin-top: 1.5rem;

    .Draggable {
        margin: 0;
    }
}

.Droppable .Droppable__areas {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
}