.Draggable {
    position: relative;
    display: inline-block;
    border: dashed 2px $color-light-grey;
    margin: 0 1rem;
    width: 300px;
    height: 100px;
    border-radius: 3rem;
    text-align: center;
    text-transform: uppercase;
    color: $color-white;
    cursor: grab;
    
    &__wrapper {    
        @include absc;

        padding: 0rem 3rem;
        width: 290px;
        height: 90px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 3rem;
        background: $color-blue;
    }

    &__sup, &__sub {
        display: block;
        font-weight: 300;
        font-size: .9rem;
    }
    
    &__title {
        display: block;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1;
    }
}

.Droppable .Draggable {
    border: none;
}