.Footer {
    display: block;
    width: 100%;
    padding: 0 2rem 1rem;
    color: $color-blue;

    &__logo {
        display: block;
        width: 300px;
        margin: 0 auto;
        padding: 0 0 7rem;
    }
}

.Intro + .Footer {
    background: $color-light-blue;
}