.Grid {

    &__solutions {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: 1070px;
        height: 458px;
        margin: 0 auto;
        border-radius: 3rem;
        margin: 3rem auto;
        overflow: visible;

        .Droppable {
            width: 100%;
            height: 100%;
            background: transparent;
            border-radius: 0;
        }
    }
    
    &__bg {
        @include absc;

        width: 1170px;
        height: 528px;
    }
    
    &__droparea {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 226px;
        z-index: 2;
        overflow: hidden;

        &.over {
            background: rgba(0, 0, 0, .08)
        }

        &:nth-of-type(1) {
            border-top-left-radius: 3rem;
        }
        &:nth-of-type(2) {
            border-top-right-radius: 3rem;
        }
        &:nth-of-type(3) {
            border-bottom-left-radius: 3rem;
        }
        &:nth-of-type(4) {
            border-bottom-right-radius: 3rem;
        }
    }
}