.Menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    flex-grow: 1;
    width: 60%;

    &__link {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 345px;

        &:active {
            transform: scale(1.2);
        }
    }

    &__image {
        display: block;
        width: 320px;
    }
}