.Message {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}
.Message__content {
    display: block;
    padding: 1rem 2rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
    border: solid .5rem white;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    color: white;
    animation: slideIn .3s;

    &.yes {
        background: $color-green;
    }

    &.nope {
        background: $color-red;
    }
}