.Nav {
    position: absolute;
    display: flex;
    align-items: center;
    text-decoration: none;
    z-index: 11;
    
    &:active {
        transform: scale(1.2);
    }
    
    &.center {
        right: 2rem;
    }
    
    &.top {
        top: 2rem;
        right: 2rem;
    }

    &__label {
        margin-right: 1rem;
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 700;
        color: $color-blue;
    }

    &__image {
        display: block;
        width: 46px;
    }
}