.Reset__button {
  color: $color-blue;
  border: none;
  font-weight: 700;
  font-size: .8rem;
  border: solid 2px $color-blue;
  border-radius: 3rem;
  padding: .5rem 1.5rem;
  background: $color-white;
  outline: none;

  &:active {
    transform: scale(1.2);
  }
}