.Result {
    text-align: center;
    animation: slideIn .3s;

    &__image {
        width: 280px;
        margin: 0 auto;
        margin-bottom: 3rem;
        pointer-events: none;
        user-select: none;
    }

    &__title {
        text-align: center;
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }
    
    &__pointbar {
        margin-bottom: 1rem;
        background: $color-light-blue;
        border-radius: 3rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 400px;
        height: 100px;

        &__point {
            position: relative;
            display: inline-block;
            width: 3.6rem;
            height: 80px;
            background: $color-light-blue;
            
            &.active {
                background: $color-blue;
                
                &::before {
                    background-image: url('../media/images/yep.svg');
                }
            }
            
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 1.2rem;
                transform: translateY(-50%);
                width: 2rem;
                height: 2rem;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                background-image: url('../media/images/yep-disabled.svg');
            }

            &:first-of-type {
                &::before {
                    left: 1.4rem;
                }
                padding-left: 4rem;
                border-top-left-radius: 3rem;
                border-bottom-left-radius: 3rem;
            }
            &:last-of-type {
                padding-right: 5rem;
                border-top-right-radius: 3rem;
                border-bottom-right-radius: 3rem;
            }
        }
    }

    &__label {
        line-height: 1;
        font-size: 2.5rem;
        font-weight: 700;
        color: $color-light-grey;
    }
}