.Solution {
    
    &.Solution__quiz1,
    &.Solution__quiz6 {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 9;

        .solutions-wrapper {
            display: flex;
            flex-wrap: wrap;
            position: absolute;

            div {
                position: absolute;                
                padding: 0rem 3rem;
                width: 290px;
                height: 90px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 3rem;
                border: solid 3px $color-green;
                background: $color-white;
                color: $color-green;
                animation: stretchIn .3s;

                &:nth-of-type(1) {
                    top: 0;
                    left: 0;
                }
                &:nth-of-type(2) {
                    top: 0;
                    right: 0;
                }
                &:nth-of-type(3) {
                    bottom: 0;
                    left: 0;
                }
                &:nth-of-type(4) {
                    bottom: 0;
                    right: 0;
                }
            }
        }
    }

    &.Solution__quiz1 .solutions-wrapper {
        width: 826px;
        height: 319px;
        top: 48%;
        left: 28.5%;
        text-transform: uppercase;
        text-align: center;

        span.sup, span.sub {
            display: block;
            font-weight: 300;
            font-size: .9rem;
        }
        
        span.title {
            display: block;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1;
        }
    }
    
    &.Solution__quiz6 .solutions-wrapper {
        width: 320px;
        height: 248px;
        top: 53.4%;
        left: 15.3%;

        div {
            position: relative;

            span {
                text-transform: uppercase;
                text-align: center;
                font-size: 1.6rem;
                font-weight: 700;
                line-height: 1;
            }
        }
    }

    &.Solution__checkbox {
        position: relative;
        display: block;
        width: 100%;
        height: 0;

        span {
            position: absolute;
            width: 4rem;
            height: 4rem;
            right: -1.9rem;
            line-height: 4rem;
            text-align: center;
            transform: translateY(-50%);
            color: $color-green;
            background-position: center;
            background-size: 80%;
            background-repeat: no-repeat;
            background-image: url('../media/images/checked-green.svg');
        }

        &.checkbox__quiz2 {
            top: -3.8rem;
        }
        &.checkbox__quiz3 {
            top: -2.4rem;
        }
        &.checkbox__quiz4 {
            top: -2.4rem;
        }
        &.checkbox__quiz5 {
            top: -2.4rem;
        }
    }
}