.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh; }

.relative {
  position: relative; }

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.cl-blue {
  color: #007EC0; }

.cl-light-grey {
  color: #B1B1B1; }

.bg-light-blue {
  background: rgba(178, 215, 235, 0.3); }

.uppercase {
  text-transform: uppercase; }

.text-center {
  text-align: center; }

.padding-lr-x1 {
  padding: 0 1rem; }

.padding-lr-x2 {
  padding: 0 2rem; }

.padding-lr-x3 {
  padding: 0 3rem; }

.padding-r-x1 {
  padding-right: 1rem; }

.padding-r-x2 {
  padding-right: 2rem; }

.padding-r-x3 {
  padding-right: 3rem; }

.white-space-x1 {
  display: block;
  width: 100%;
  padding: 1rem 0 0; }

.white-space-x2 {
  display: block;
  width: 100%;
  padding: 2rem 0 0; }

.white-space-x3 {
  display: block;
  width: 100%;
  padding: 3rem 0 0; }

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(30%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes stretchIn {
  0% {
    opacity: 0;
    transform: scale(0.6); }
  50% {
    transform: scale(1.2); }
  100% {
    opacity: 1;
    transform: scale(1); } }

@font-face {
  font-family: 'Open Sans';
  src: url("../webfonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../webfonts/OpenSans-Light.woff") format("woff"), url("../webfonts/OpenSans-Light.ttf") format("truetype"), url("../webfonts/OpenSans-Light.svg#OpenSans-Light") format("svg");
  font-weight: 300; }

@font-face {
  font-family: 'Open Sans';
  src: url("../webfonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../webfonts/OpenSans-Regular.woff") format("woff"), url("../webfonts/OpenSans-Regular.ttf") format("truetype"), url("../webfonts/OpenSans-Regular.svg#OpenSans-Regular") format("svg");
  font-weight: 400; }

@font-face {
  font-family: 'Open Sans';
  src: url("../webfonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../webfonts/OpenSans-SemiBold.woff") format("woff"), url("../webfonts/OpenSans-SemiBold.ttf") format("truetype"), url("../webfonts/OpenSans-SemiBold.svg#OpenSans-SemiBold") format("svg");
  font-weight: 600; }

@font-face {
  font-family: 'Open Sans';
  src: url("../webfonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../webfonts/OpenSans-Bold.woff") format("woff"), url("../webfonts/OpenSans-Bold.ttf") format("truetype"), url("../webfonts/OpenSans-Bold.svg#OpenSans-Bold") format("svg");
  font-weight: 700; }

.App {
  display: block;
  width: 100%;
  height: auto; }

.Menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  flex-grow: 1;
  width: 60%; }
  .Menu__link {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 345px; }
    .Menu__link:active {
      transform: scale(1.2); }
  .Menu__image {
    display: block;
    width: 320px; }

.Footer {
  display: block;
  width: 100%;
  padding: 0 2rem 1rem;
  color: #007EC0; }
  .Footer__logo {
    display: block;
    width: 300px;
    margin: 0 auto;
    padding: 0 0 7rem; }

.Intro + .Footer {
  background: rgba(178, 215, 235, 0.3); }

.Nav {
  position: absolute;
  display: flex;
  align-items: center;
  text-decoration: none;
  z-index: 11; }
  .Nav:active {
    transform: scale(1.2); }
  .Nav.center {
    right: 2rem; }
  .Nav.top {
    top: 2rem;
    right: 2rem; }
  .Nav__label {
    margin-right: 1rem;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    color: #007EC0; }
  .Nav__image {
    display: block;
    width: 46px; }

.Draggable {
  position: relative;
  display: inline-block;
  border: dashed 2px #B1B1B1;
  margin: 0 1rem;
  width: 300px;
  height: 100px;
  border-radius: 3rem;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: grab; }
  .Draggable__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0rem 3rem;
    width: 290px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    background: #007EC0; }
  .Draggable__sup, .Draggable__sub {
    display: block;
    font-weight: 300;
    font-size: .9rem; }
  .Draggable__title {
    display: block;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1; }

.Droppable .Draggable {
  border: none; }

.Droppable__option {
  max-width: 70vw;
  margin: 0 auto;
  display: flex;
  align-items: center; }

.Droppable__text {
  display: block;
  max-width: 75%;
  padding-left: 2rem;
  font-size: 1.2rem;
  color: #B1B1B1; }

.Droppable {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  background: rgba(178, 215, 235, 0.3);
  border-radius: 3rem; }

.Droppable__areas .Droppable {
  display: block;
  width: 300px;
  height: 100px;
  margin-top: 1.5rem; }
  .Droppable__areas .Droppable .Draggable {
    margin: 0; }

.Droppable .Droppable__areas {
  display: flex;
  flex-direction: column;
  padding-top: 4rem; }

.Choices {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%; }

.Choice {
  padding: 1rem 0;
  padding-right: 5rem;
  flex-grow: 1;
  width: 100%;
  text-align: center; }
  .Choice hr {
    margin: 0; }
  .Choice__label {
    position: relative;
    display: block;
    font-size: 2rem;
    color: #B1B1B1; }
  .Choice__checkbox {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none; }
    .Choice__checkbox + label::after {
      content: "";
      position: absolute;
      display: block;
      width: 4rem;
      height: 4rem;
      top: 50%;
      right: -7rem;
      transform: translateY(-50%);
      border: solid 2px #007EC0;
      background: rgba(178, 215, 235, 0.3);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 50%; }
    .Choice__checkbox:checked + label::after {
      transition: all .2s;
      background-size: 80%;
      background-image: url(../media/images/checked.svg); }

.Reset__button {
  color: #007EC0;
  border: none;
  font-weight: 700;
  font-size: .8rem;
  border: solid 2px #007EC0;
  border-radius: 3rem;
  padding: .5rem 1.5rem;
  background: #FFFFFF;
  outline: none; }
  .Reset__button:active {
    transform: scale(1.2); }

.Result {
  text-align: center;
  animation: slideIn .3s; }
  .Result__image {
    width: 280px;
    margin: 0 auto;
    margin-bottom: 3rem;
    pointer-events: none;
    user-select: none; }
  .Result__title {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 2rem; }
  .Result__pointbar {
    margin-bottom: 1rem;
    background: rgba(178, 215, 235, 0.3);
    border-radius: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 100px; }
    .Result__pointbar__point {
      position: relative;
      display: inline-block;
      width: 3.6rem;
      height: 80px;
      background: rgba(178, 215, 235, 0.3); }
      .Result__pointbar__point.active {
        background: #007EC0; }
        .Result__pointbar__point.active::before {
          background-image: url("../media/images/yep.svg"); }
      .Result__pointbar__point::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 1.2rem;
        transform: translateY(-50%);
        width: 2rem;
        height: 2rem;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("../media/images/yep-disabled.svg"); }
      .Result__pointbar__point:first-of-type {
        padding-left: 4rem;
        border-top-left-radius: 3rem;
        border-bottom-left-radius: 3rem; }
        .Result__pointbar__point:first-of-type::before {
          left: 1.4rem; }
      .Result__pointbar__point:last-of-type {
        padding-right: 5rem;
        border-top-right-radius: 3rem;
        border-bottom-right-radius: 3rem; }
  .Result__label {
    line-height: 1;
    font-size: 2.5rem;
    font-weight: 700;
    color: #B1B1B1; }

.Message {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10; }

.Message__content {
  display: block;
  padding: 1rem 2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white;
  border: solid .5rem white;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  color: white;
  animation: slideIn .3s; }
  .Message__content.yes {
    background: #58B947; }
  .Message__content.nope {
    background: #ED0022; }

.Grid__solutions {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 1070px;
  height: 458px;
  margin: 0 auto;
  border-radius: 3rem;
  margin: 3rem auto;
  overflow: visible; }
  .Grid__solutions .Droppable {
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 0; }

.Grid__bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1170px;
  height: 528px; }

.Grid__droparea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 226px;
  z-index: 2;
  overflow: hidden; }
  .Grid__droparea.over {
    background: rgba(0, 0, 0, 0.08); }
  .Grid__droparea:nth-of-type(1) {
    border-top-left-radius: 3rem; }
  .Grid__droparea:nth-of-type(2) {
    border-top-right-radius: 3rem; }
  .Grid__droparea:nth-of-type(3) {
    border-bottom-left-radius: 3rem; }
  .Grid__droparea:nth-of-type(4) {
    border-bottom-right-radius: 3rem; }

.Solution.Solution__quiz1, .Solution.Solution__quiz6 {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9; }
  .Solution.Solution__quiz1 .solutions-wrapper, .Solution.Solution__quiz6 .solutions-wrapper {
    display: flex;
    flex-wrap: wrap;
    position: absolute; }
    .Solution.Solution__quiz1 .solutions-wrapper div, .Solution.Solution__quiz6 .solutions-wrapper div {
      position: absolute;
      padding: 0rem 3rem;
      width: 290px;
      height: 90px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 3rem;
      border: solid 3px #58B947;
      background: #FFFFFF;
      color: #58B947;
      animation: stretchIn .3s; }
      .Solution.Solution__quiz1 .solutions-wrapper div:nth-of-type(1), .Solution.Solution__quiz6 .solutions-wrapper div:nth-of-type(1) {
        top: 0;
        left: 0; }
      .Solution.Solution__quiz1 .solutions-wrapper div:nth-of-type(2), .Solution.Solution__quiz6 .solutions-wrapper div:nth-of-type(2) {
        top: 0;
        right: 0; }
      .Solution.Solution__quiz1 .solutions-wrapper div:nth-of-type(3), .Solution.Solution__quiz6 .solutions-wrapper div:nth-of-type(3) {
        bottom: 0;
        left: 0; }
      .Solution.Solution__quiz1 .solutions-wrapper div:nth-of-type(4), .Solution.Solution__quiz6 .solutions-wrapper div:nth-of-type(4) {
        bottom: 0;
        right: 0; }

.Solution.Solution__quiz1 .solutions-wrapper {
  width: 826px;
  height: 319px;
  top: 48%;
  left: 28.5%;
  text-transform: uppercase;
  text-align: center; }
  .Solution.Solution__quiz1 .solutions-wrapper span.sup, .Solution.Solution__quiz1 .solutions-wrapper span.sub {
    display: block;
    font-weight: 300;
    font-size: .9rem; }
  .Solution.Solution__quiz1 .solutions-wrapper span.title {
    display: block;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1; }

.Solution.Solution__quiz6 .solutions-wrapper {
  width: 320px;
  height: 248px;
  top: 53.4%;
  left: 15.3%; }
  .Solution.Solution__quiz6 .solutions-wrapper div {
    position: relative; }
    .Solution.Solution__quiz6 .solutions-wrapper div span {
      text-transform: uppercase;
      text-align: center;
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 1; }

.Solution.Solution__checkbox {
  position: relative;
  display: block;
  width: 100%;
  height: 0; }
  .Solution.Solution__checkbox span {
    position: absolute;
    width: 4rem;
    height: 4rem;
    right: -1.9rem;
    line-height: 4rem;
    text-align: center;
    transform: translateY(-50%);
    color: #58B947;
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    background-image: url("../media/images/checked-green.svg"); }
  .Solution.Solution__checkbox.checkbox__quiz2 {
    top: -3.8rem; }
  .Solution.Solution__checkbox.checkbox__quiz3 {
    top: -2.4rem; }
  .Solution.Solution__checkbox.checkbox__quiz4 {
    top: -2.4rem; }
  .Solution.Solution__checkbox.checkbox__quiz5 {
    top: -2.4rem; }

.item.preview {
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

.Intro {
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  padding: 5rem;
  text-align: center;
  background: rgba(178, 215, 235, 0.3); }
  .Intro__image {
    display: block;
    max-width: 30vw;
    margin: 0 auto;
    margin-bottom: 2rem;
    animation: slideIn .3s; }
  .Intro__title {
    margin: 2rem auto 1rem;
    font-size: 5rem;
    animation: slideIn .3s; }
  .Intro__subtitle {
    line-height: 1.3;
    max-width: 50vw;
    font-size: 2.5rem;
    color: #B1B1B1;
    animation: slideIn .3s; }

.Quiz1 {
  flex-grow: 1;
  padding: 3rem 0 0; }
  .Quiz1__grid {
    display: block;
    margin: 1rem auto 0;
    max-width: 50vw; }

.Quiz2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 3rem 0 0; }
  .Quiz2__choices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1; }

.Quiz3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 3rem 0 0; }
  .Quiz3__choices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1; }

.Quiz4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 3rem 0 0; }
  .Quiz4__choices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1; }

.Quiz5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 3rem 0 0; }
  .Quiz5__choices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1; }

.Quiz6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 3rem 0 0; }

.Video__wrapper {
  display: block;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(178, 215, 235, 0.3); }

.Video__menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: calc(800px + 12rem);
  margin: 0 auto; }

.Video__menu-single {
  display: block;
  width: 400px;
  margin: calc(12rem / 4);
  border-radius: .5rem;
  overflow: hidden;
  background: #FFFFFF;
  animation: slideIn .3s; }
  .Video__menu-single:active {
    transform: scale(1.2); }
  .Video__menu-single .Video__link {
    text-decoration: none; }
  .Video__menu-single img {
    display: block;
    max-width: 100%; }
  .Video__menu-single h5 {
    padding: 1rem;
    padding-left: 0;
    text-align: center;
    text-decoration: none; }

.Video {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  position: relative; }

h1, h2, h3, h4, h5, h6 {
  color: #007EC0;
  margin: 0rem auto;
  text-transform: uppercase;
  line-height: 1; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2.2rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.8rem; }

h5 {
  font-size: 1.4rem; }

h6 {
  font-size: 1.2rem; }

ol, ul {
  padding-left: 1rem; }

sup {
  font-size: 1.3rem; }

hr {
  height: 3px;
  border: none;
  background: #007EC0;
  box-shadow: none; }
