@mixin flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin absc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Container {
    @include flex-center;

    width: 100%;
    height: 100vh;
}

.relative {
    position: relative;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cl-blue {
    color: $color-blue;
}

.cl-light-grey {
    color: $color-light-grey;
}

.bg-light-blue {
    background: $color-light-blue;
}

.uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.padding-lr-x1 {
    padding: 0 1rem;
}
.padding-lr-x2 {
    padding: 0 2rem;
}
.padding-lr-x3 {
    padding: 0 3rem;
}
.padding-r-x1 {
    padding-right: 1rem;
}
.padding-r-x2 {
    padding-right: 2rem;
}
.padding-r-x3 {
    padding-right: 3rem;
}

.white-space-x1 {
    display: block;
    width: 100%;
    padding: 1rem 0 0;
}
.white-space-x2 {
    display: block;
    width: 100%;
    padding: 2rem 0 0;
}
.white-space-x3 {
    display: block;
    width: 100%;
    padding: 3rem 0 0;
}