@font-face {
    font-family: 'Open Sans';
    src: 
        url('../webfonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'), 
        url('../webfonts/OpenSans-Light.woff') format('woff'), 
        url('../webfonts/OpenSans-Light.ttf') format('truetype'), 
        url('../webfonts/OpenSans-Light.svg#OpenSans-Light') format('svg');
    font-weight: 300;
}

@font-face {
    font-family: 'Open Sans';
    src: 
        url('../webfonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), 
        url('../webfonts/OpenSans-Regular.woff') format('woff'), 
        url('../webfonts/OpenSans-Regular.ttf') format('truetype'), 
        url('../webfonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
    font-weight: 400;
}

@font-face {
    font-family: 'Open Sans';
    src: 
        url('../webfonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'), 
        url('../webfonts/OpenSans-SemiBold.woff') format('woff'), 
        url('../webfonts/OpenSans-SemiBold.ttf') format('truetype'), 
        url('../webfonts/OpenSans-SemiBold.svg#OpenSans-SemiBold') format('svg');
    font-weight: 600;
}

@font-face {
    font-family: 'Open Sans';
    src: 
        url('../webfonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), 
        url('../webfonts/OpenSans-Bold.woff') format('woff'), 
        url('../webfonts/OpenSans-Bold.ttf') format('truetype'), 
        url('../webfonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: 700;
}