.Intro {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    padding: 5rem;
    text-align: center;
    background: $color-light-blue;

    &__image {
        display: block;
        max-width: 30vw;
        margin: 0 auto;
        margin-bottom: 2rem;
        animation: slideIn .3s;
    }

    &__title {
        margin: 2rem auto 1rem;
        font-size: 5rem;
        animation: slideIn .3s;
    }

    &__subtitle {
        line-height: 1.3;
        max-width: 50vw;
        font-size: 2.5rem;
        color: $color-light-grey;
        animation: slideIn .3s;
    }
}

.Quiz1 {
    flex-grow: 1;
    padding: 3rem 0 0;

    &__grid {
        display: block;
        margin: 1rem auto 0;
        max-width: 50vw;
    }
}

.Quiz2 {
    @include flex-center;
    flex-grow: 1;
    padding: 3rem 0 0;

    &__choices {
        @include flex-center;
        flex-grow: 1;
    }
}

.Quiz3 {
    @include flex-center;
    flex-grow: 1;
    padding: 3rem 0 0;

    &__choices {
        @include flex-center;
        flex-grow: 1;
    }
}

.Quiz4 {
    @include flex-center;
    flex-grow: 1;
    padding: 3rem 0 0;

    &__choices {
        @include flex-center;
        flex-grow: 1;
    }
}

.Quiz5 {
    @include flex-center;
    flex-grow: 1;
    padding: 3rem 0 0;

    &__choices {
        @include flex-center;
        flex-grow: 1;
    }
}

.Quiz6 {
    @include flex-center;
    flex-grow: 1;
    padding: 3rem 0 0;
}