.Video__wrapper {
    display: block;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-light-blue;
}

$video-padding: 12rem;

.Video__menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: calc(800px + #{$video-padding});
    margin: 0 auto;
}

.Video__menu-single {
    display: block;
    width: 400px;
    margin: calc(#{$video-padding} / 4);
    border-radius: .5rem;
    overflow: hidden;
    background: $color-white;
    animation: slideIn .3s;

    &:active {
        transform: scale(1.2);
    }

    .Video__link {
        text-decoration: none;
    }

    img {
        display: block;
        max-width: 100%;
    }

    h5 {
        padding: 1rem;
        padding-left: 0;
        text-align: center;
        text-decoration: none;
    }
}

.Video {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
}