@import "utilities/colors";
@import "utilities/utils";
@import "utilities/animations";
@import "utilities/webfonts";

@import "components/app";
@import "components/menu";
@import "components/footer";
@import "components/nav";
@import "components/druggable";
@import "components/droppable";
@import "components/choice";
@import "components/reset-button";
@import "components/result"; 
@import "components/message"; 
@import "components/grid-solutions"; 
@import "components/solutions"; 
@import "components/itempreview"; 

@import "containers/quiz"; 
@import "containers/video"; 

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    color: $color-blue;
    margin: 0rem auto;
    text-transform: uppercase;
    line-height: 1;
}

h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2.2rem;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.8rem;
}
h5 {
    font-size: 1.4rem;
}
h6 {
    font-size: 1.2rem;
}
ol, ul {
    padding-left: 1rem;
}
sup {
    font-size: 1.3rem;
}
hr {
    height: 3px;
    border: none;
    background: $color-blue;
    box-shadow: none;
}